<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DynamicWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>calculatorServlet</display-name>
    <servlet-name>calculatorServlet</servlet-name>
    <servlet-class>com.tutorial.servlet.calculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculatorServlet</servlet-name>
    <url-pattern>/calculatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletOne</display-name>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>com.tutorial.ServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/ServletOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTwo</display-name>
    <servlet-name>ServletTwo</servlet-name>
    <servlet-class>com.tutorial.ServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTwo</servlet-name>
    <url-pattern>/ServletTwo</url-pattern>
  </servlet-mapping>
</web-app>